<style>
    table,
    td,
    th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 25%;
    }

    th,
    td {
        padding: 15px;
    }
</style>

<div class="container center">
    <h1>Waiters Log</h1>

    {{!-- <div class="col-12 center"> --}}
    <table>
        <tr style="background:black">
            {{#each workerDays}}
            <th>{{day}}</th>
            {{/each}}
        </tr>
        <tr style="background:black">
            {{#each workerDays}}
            <td>
                {{#each waiters}}
                <ul>
                    <span style="padding:0.5em;float:left">{{this}}</span>
                </ul>
                {{/each}}
            </td>
            {{/each}}
        </tr>
    </table>
    
<form action="/reset" method="POST">
<button type="submit" style="margin: 15px; color:rgb(0, 0, 0)">Reset Week</button>
</form>
</div>