<style>
    table,
    td,
    th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 25%;
    }

    th,
    td {
        padding: 15px;
    }
</style>

<div class="container center">
    <h1>Waiters Log</h1>

    {{!-- <div class="col-12 center"> --}}
    <table>
        <tr>
            {{#each workerDays}}
            <th style="{{level}}">{{day}}</th>
            {{/each}}
        </tr>
        <tr>
            {{#each workerDays}}
            <td class="{{level}}">
                {{#each waiters}}
                <span style="padding:0.5em;float:left">{{this}}</span>
                {{/each}}
            </td>
            {{/each}}
        </tr>
    </table>

</div>