<div class="col-12 center" style="padding: 1em;">
  <div>
    <h1>LOGIN</h1>
  </div>
  <form action="/login" method="POST">

    <div>
      <input type="text" placeholder="Enter username" style="margin:30px;color:black" name="username">
    </div>

    <div>
      <button class="loginBtn" type="submit" name="login" style="margin: 15px;color:black">LOGIN</button>
    </div>

  </form>

</div>